@model IEnumerable<SharedTravelsViewModel>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<h1>All adverts</h1>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr class="text-primary">
            <th scope="col"></th>
            <th scope="col">@GlobalConstants.StartDestinationTitle</th>
            <th scope="col">@GlobalConstants.DestinationTitle</th>
            <th scope="col">@GlobalConstants.AdvertDateTitle</th>
            <th scope="col">@GlobalConstants.AdvertHourTitle</th>
            <th scope="col">@GlobalConstants.AdvertDayTitle</th>
            <th scope="col">@GlobalConstants.AdvertSeatsTitle</th>
            <th scope="col">@GlobalConstants.AdvertSmokeRestrictionTitle</th>
            <th scope="col">@GlobalConstants.AdvertLuggageTitle</th>
            <th scope="col">@GlobalConstants.AdvertReturnTripTitle</th>
            <th scope="col">@GlobalConstants.AdvertTypeTravelTitle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in Model)
        {
            <tr>
                <th scope="row">@(count++)</th>
                <td>@advert.StartDestinationName</td>
                <td>@advert.EndDestinationName</td>
                <td>@advert.Date</td>
                <td>@advert.Hour</td>
                <td>@advert.Day</td>
                <td>@advert.Seats</td>
                <td>@advert.SmokeRestrictionAsString</td>
                <td>@advert.PlaceForLuggageAsString</td>
                <td>@advert.WithReturnTripAsString</td>
                <td>@advert.TypeOfTravelName</td>
            </tr>
        }
    </tbody>
</table>

@*@foreach ()
    {
        @advert.Date
        @advert.Day
        @advert.Hour
        @advert.WithReturnTrip
        @advert.Status.Name
        @advert.Seats
        @advert.PlaceForLuggage
        @advert.SmokeRestriction
        @advert.TypeOfTravel
        <div class="col">
                <div class="form-group">
                    <label asp-for="EndDestinationId"></label>
                    <select asp-for="EndDestinationId" class="form-control" asp-items="cities"></select>
                    <span asp-validation-for="EndDestinationId" class="text-danger"></span>
                </div>
            </div>
        </div>*@
@*}*@

@*@section Scripts{
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
}*@
