@model SharedTravelDetailsViewModel
@{
    this.ViewData["Title"] = "Trip details";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container">
        <table class="table col-md-6 text-light table-striped">
            <thead>
                <tr>
                    <th scope="col">Created By</th>
                    <th scope="col">"@Model.AdvertInfo.StartDestinationName"</th>
                    <th scope="col">@Model.AdvertInfo.EndDestinationName</th>
                    <th scope="col">@Model.AdvertInfo.PlaceForLuggage</th>
                    <th scope="col">@Model.AdvertInfo.Seats</th>
                    <th scope="col">@Model.AdvertInfo.SmokeRestriction</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.AdvertInfo.CreatedBy.UserName</td>
                    <td>@Model.AdvertInfo.CreatedBy.FirstName</td>
                    <td>@Model.AdvertInfo.CreatedBy.LastName</td>
                    <td>@Model.AdvertInfo.CreatedBy.ImagePath</td>
                    <td class="table-active">@Model.PlaceForLuggage</td>
                        <td class="table-active">@Model.Seats</td>
                        <td class="table-active">@Model.SmokeRestriction</td>
                        <td class="table-active">@Model.StartDestination.Name</td>
                        <td class="table-active">@Model.EndDestination.Name</td>
                </tr>
            </tbody>
        </table>
    </div>*@
@*<div class="col1 one-half">
        <h2>@this.ViewData["Title"]</h2>
        <p>
            <label>Route:</label>
            <span class="align-content-center">
                "@Model.AdvertInfo.StartDestinationName"<br>
                "@Model.AdvertInfo.EndDestinationName"
                "@Model.AdvertInfo.CreatedBy.FirstName"
                "@Model.AdvertInfo.CreatedBy.LastName"
                "@Model.AdvertInfo.PlaceForLuggage"
                "@Model.AdvertInfo.Seats"
                "@Model.AdvertInfo.SmokeRestriction"
                "@Model.AdvertInfo.StartDateAndTime"
                "@Model.AdvertInfo.StatusName"
                "@Model.AdvertInfo.TypeOfTravel"
                "@Model.AdvertInfo.WithReturnTrip"
                "@Model.Image.Path"
            </span>
        </p>
    </div>*@
<hr />



<div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2>Trip details</h2>
                <p>
                    <label>From: </label>
                    <span class="float-sm-right">
                        @Model.StartDestinationName
                    </span>
                </p>
                <p>
                    <label>To: </label>
                    <span class="float-sm-right">
                        @Model.EndDestinationName
                    </span>
                </p>
                <p>
                    <label>Departure date and time:</label>
                    <span class="float-sm-right">@Model.StartDateAndTime</span>
                </p>
                <p>
                    <label>Available seats:</label>
                    <span class="float-sm-right">@Model.Seats</span>
                </p>
                <p>
                    <label>Luggage:</label>
                    <span class="float-sm-right">@Model.PlaceForLuggage</span>
                </p>
                <p>
                    <label>Return Trip:</label>
                    <span class="float-sm-right">@Model.WithReturnTrip</span>
                </p>
                <p>
                    <label>Smoking:</label>
                    <span class="float-sm-right">@Model.SmokeRestriction</span>
                </p>
                <p>
                    <label>Travel type:</label>
                    <span class="float-sm-right">@Model.TypeOfTravelName</span>
                </p>
                <div class="content"></div>
            </div>
            <div class="col-md-6">
                <h2>Driver details</h2>
                @*<img class="modal-avatar" src="@Model.CreatedBy.ImagePath" alt="Курче">*@
                <p>
                    <label>Name:</label>
                    @*<span class="float-sm-right">@(Model.CreatedBy.FirstName + " " + Model.CreatedBy.LastName)</span>*@
                </p>
                <ul class="fa-grip-horizontal">
                    <li class="single-meta list-inline">
                        <ul id="list" class="item-rating">
                            <li class="star-fill list-inline-item" data-vote="1"><i class="fas fa-star"></i></li>
                            <li class="star-fill list-inline-item" data-vote="2"><i class="fas fa-star"></i></li>
                            <li class="star-fill list-inline-item" data-vote="3"><i class="fas fa-star"></i></li>
                            <li class="star-fill list-inline-item" data-vote="4"><i class="fas fa-star"></i></li>
                            <li class="star-fill list-inline-item" data-vote="5"><i class="fas fa-star"></i></li>
                            <li><span id="averageVoteValue">@*@Model.CreatedBy.Rating.ToString(*@"0.0"@*)*@</span><span> / 5</span> </li>
                        </ul>
                    </li>
                </ul>
                <p><label>Рейтинг:</label><span class="right">(<strong style="color: green; font-weight: bold">+0</strong> / <strong style="color: red; font-weight: bold">-0</strong>) <em class="thumb "></em></span></p>
                <p>
                    <label>Car:</label>
                    @*<span class="float-sm-right">@(Model.CreatedBy.CarMake + " " + Model.CreatedBy.CarModel)</span>*@
                </p>
                <p>
                    <label>Car pictures:</label>

                </p>
                <p>
                    <label>Phone number:</label>
                    @*<span class="float-sm-right">@Model.CreatedBy.PhoneNumber</span>*@
                </p>
            </div>
        </div>
    </div>
    <form method="post" id="antiForgeryForm"></form>
@*<button onclick="myFunction()">Click me</button>
    <p id="demo"></p>*@
@section Scripts{
<script>
            $("li[data-vote]").each(function (el) {
                $(this).click(function () {
                    var value = $(this).attr("data-vote");
                    var userId = "@Model.CreatedById";
                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                    var data = { userId: userId, value: value };
                    $.ajax({
                        type: "POST",
                        url: "/api/Ratings",
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function (data) {
                            $('#averageVoteValue').html(data.averageRate.toFixed(1));
                        },
                        contentType: 'application/json',
                    });
                })
            });
    </script>
}
@*<script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "Hello World";
        }
    </script>*@
@*<script>
    const ul = document.getElementById('list');
    ul.addEventListener('click', clickHandler);

    function clickHandler(e) {
        const rating = e.target.textContent;
        var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
        console.log(rating);
        fetch('/api/Ratings',
            {
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                body: JSON.stringify({ userId: @Model.CreatedBy.Id, value: rating })
        }).then(res => {
           return res.text();
       }).then(data => {
           console.log(data);
       }).catch(err => {
          console.log(err);
        })
    }
    </script>*@
@*}*@

@*<div id="status"></div>
<form id="ratingForm">
    <fieldset class="rating">
        <legend>Please rate:</legend>
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
    </fieldset>
    <div class="clearfix"></div>
    <button class="submit clearfix">Submit</button>
</form>*@

@*@section Scripts{
    <script>
        $(document).ready(function () {
            $("form#ratingForm").submit(function (e) {
                e.preventDefault(); // prevent the default click action from being performed
                if ($("#ratingForm :radio:checked").length == 0) {
                    $('#status').html("nothing checked");
                    return false;
                } else {
                    $('#status').html('You picked ' + $('input:radio[name=rating]:checked').val());
                }
                var userId = @Model.CreatedById;
                    var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { userId: userId, value: $('input:radio[name=rating]:checked').val() };

                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageRate.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            });
        });
    </script>*@
}

