@model SharedTravelDetailsViewModel
@{
    this.ViewData["Title"] = "Trip details";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="card text-white custom-bg">
        <div class="card-header text-center"><h2>@this.ViewData["Title"]</h2></div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="StartDateAndTime"></label>
                        <span>@Model.StartDateAndTime</span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CreatedByUserName"></label>
                        <span>
                            @Model.CreatedByUserName
                            <a class="btn btn-primary" asp-action="DriverDetails" asp-route-id="@Model.CreatedById">
                                <i class="far fa-user"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="StartDestinationName"></label>
                        <span>
                            @Model.StartDestinationName
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="EndDestinationName"></label>
                        <span>
                            @Model.EndDestinationName
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Rating"></label>
                        <span>
                            @Model.Rating/5.0<i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Seats"></label>
                        <span>@Model.Seats</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="PlaceForLuggage"></label>
                        <span>@Model.PlaceForLuggage</span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="WithReturnTrip"></label>
                        <span>@Model.WithReturnTrip</span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SmokeRestriction"></label>
                        <span>@Model.SmokeRestriction</span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="TypeOfTravelName"></label>
                        <span>@Model.TypeOfTravelName</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <br />
                        <span>@Model.Description</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}

