@model AdvertsListViewModel
@{
    const string ActionDefaultName = "All";
    const string ActionBySameController = "AllByAuthor";
    const string ActionBySearchController = "SearchByDestinations";
    const string ActionBySearchControllerForUser = "SearchForUserAdvertsDestination";
    var action = ActionDefaultName;
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

@if (controller == "SharedTravels")
{
    @if (Model.IsUserAdverts)
    {
        action = ActionBySameController;
    }
}
else
{
    @if (Model.IsUserAdverts)
    {
        action = ActionBySearchControllerForUser;
    }
    else
    {
        action = ActionBySearchController;
    }
}

<nav aria-label="">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage)
            { <text>disabled</text> }">
            <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-id="@Model.PreviousPageNumber" asp-route-search="@this.ViewData["Getadvertsdetails"]">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-controller="@controller" asp-route-search="@this.ViewData["Getadvertsdetails"]" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-search="@this.ViewData["Getadvertsdetails"]" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage)
            { <text>disabled</text> }">
            <a class="page-link" asp-controller="@controller" asp-action="@action" asp-route-search="@this.ViewData["Getadvertsdetails"]" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
