@model ElectricTravel.Web.ViewModels.Administration.SharedTravelAdverts.SharedTravelAdvertViewModel

@{
    this.ViewData["Title"] = "Delete";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center text-danger custom-bg">
    <br />
    <div>
        <h1>@this.ViewData["Title"]</h1>
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <div class="text-left">
        <a class="btn btn-info text-left" asp-action="Index">Back to List</a>
    </div>
    <div>
        <hr />
        <div class="row">
            <div class="col">
                <label class="text-white" asp-for="StartDateAndTime"></label>
                <span>@Model.StartDateAndTime</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="Seats"></label>
                <span>@Model.Seats</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="SmokeRestrictionAsText"></label>
                <span>@Model.SmokeRestrictionAsText</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="PlaceForLuggageAsText"></label>
                <span>@Model.PlaceForLuggageAsText</span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label class="text-white" asp-for="ReturnTripAsText"></label>
                <span>@Model.ReturnTripAsText</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="CreatedByUserName"></label>
                <span>@Model.CreatedByUserName</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="CreatedOn"></label>
                <span>@Model.CreatedOn</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="text-white" asp-for="Description"></label>
                <span>@Model.Description</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="TypeOfTravelName"></label>
                <span>@Model.TypeOfTravelName</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="StartDestinationName"></label>
                <span>@Model.StartDestinationName</span>
            </div>
            <div class="col">
                <label class="text-white" asp-for="EndDestinationName"></label>
                <span>@Model.EndDestinationName</span>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <br />
</div>
</div>
@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}