@model ElectricTravel.Web.ViewModels.Administration.SharedTravelAdverts.SharedTravelAdvertViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center text-white custom-bg">
    <br />
    <div><h1>@this.ViewData["Title"]</h1></div>
    <div class="text-left">
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="CreatedOn"></label>
                        <p>@Model.CreatedOn</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="CreatedByUserName"></label>
                        <p>@Model.CreatedByUserName</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="IsApproved"></label>
                        <p>@Model.IsApproved</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="StartDateAndTime"></label>
                        <p>@Model.StartDateAndTime</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="StartDestinationName"></label>
                        <p>@Model.StartDestinationName</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="EndDestinationName"></label>
                        <p>@Model.EndDestinationName</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="TypeOfTravelName"></label>
                        <p>@Model.TypeOfTravelName</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="text-white-50 control-label" asp-for="Seats"></label>
                        <p>@Model.Seats</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group form-check">
                        <label asp-for="SmokeRestrictionAsText" class="text-white-50 form-check-label">
                        </label>
                        <p>@Model.SmokeRestrictionAsText</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-check">
                        <label asp-for="PlaceForLuggageAsText" class="text-white-50 form-check-label">
                        </label>
                        <p>@Model.PlaceForLuggageAsText</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-check">
                        <label asp-for="ReturnTripAsText" class="form-check-label text-white-50"></label>
                        <p>@Model.ReturnTripAsText</p>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
            <hr />
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}
