@model ElectricTravel.Web.InputViewModels.SharedTravel.SharedTravelEditInputViewModel
@using ElectricTravel.Common
@{
    this.ViewData["Title"] = "Edit";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
    var cities = this.Model.Cities.Select(x => new SelectListItem(x.Value, x.Key));
    var types = this.Model.TypesOfTravel.Select(x => new SelectListItem(x.Value, x.Key));
}

<br />
<div class="container text-center text-light custom-bg">
    <br />
    <div><h1>@this.ViewData["Title"]</h1></div>
    <div class="text-left">
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StartDateAndTime" class="control-label"></label>
                            <input asp-for="StartDateAndTime" class="form-control" />
                            <span asp-validation-for="StartDateAndTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StartDestinationId" class="control-label"></label>
                            <select asp-for="StartDestinationId" class="form-control" asp-items="cities"></select>
                            <span asp-validation-for="StartDestinationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EndDestinationId" class="control-label"></label>
                            <select asp-for="EndDestinationId" class="form-control" asp-items="cities"></select>
                            <span asp-validation-for="EndDestinationId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="TypeOfTravelId" class="control-label"></label>
                            <select asp-for="TypeOfTravelId" class="form-control" asp-items="types"></select>
                            <span asp-validation-for="TypeOfTravelId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Seats" class="control-label"></label>
                            <input asp-for="Seats" class="form-control" />
                            <span asp-validation-for="Seats" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="IsApproved" class="control-label"></label>
                            <input asp-for="IsApproved" class="form-control" />
                            <span asp-validation-for="IsApproved" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="SmokeRestriction" class="control-label"></label>
                            <select class="form-control" asp-for="SmokeRestriction">
                                <option>@GlobalConstants.TrueState</option>
                                <option>@GlobalConstants.FalseState</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PlaceForLuggage" class="control-label"></label>
                            <select class="form-control" asp-for="PlaceForLuggage">
                                <option>@GlobalConstants.TrueState</option>
                                <option>@GlobalConstants.FalseState</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="WithReturnTrip" class="control-label"></label>
                            <select class="form-control" asp-for="WithReturnTrip">
                                <option>@GlobalConstants.TrueState</option>
                                <option>@GlobalConstants.FalseState</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <br />
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}

