@model ElectricTravel.Data.Models.Advertisement.SharedTravelAdvert

@{
    this.ViewData["Title"] = "Edit";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container text-center text-light custom-bg">
    <br />
    <div><h1>@this.ViewData["Title"]</h1></div>
    <div class="text-left">
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StartDateAndTime" class="control-label"></label>
                            <input asp-for="StartDateAndTime" class="form-control" />
                            <span asp-validation-for="StartDateAndTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StartDestinationId" class="control-label"></label>
                            <select asp-for="StartDestinationId" class="form-control" asp-items="ViewBag.StartDestinationId"></select>
                            <span asp-validation-for="StartDestinationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="EndDestinationId" class="control-label"></label>
                            <select asp-for="EndDestinationId" class="form-control" asp-items="ViewBag.EndDestinationId"></select>
                            <span asp-validation-for="EndDestinationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="StatusId" class="control-label"></label>
                            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                            <span asp-validation-for="StatusId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="TypeOfTravelId" class="control-label"></label>
                            <select asp-for="TypeOfTravelId" class="form-control" asp-items="ViewBag.TypeOfTravelId"></select>
                            <span asp-validation-for="TypeOfTravelId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Seats" class="control-label"></label>
                            <input asp-for="Seats" class="form-control" />
                            <span asp-validation-for="Seats" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="CreatedById" class="control-label"></label>
                            <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById"></select>
                            <span asp-validation-for="CreatedById" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="SmokeRestriction" /> @Html.DisplayNameFor(model => model.SmokeRestriction)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="PlaceForLuggage" /> @Html.DisplayNameFor(model => model.PlaceForLuggage)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="WithReturnTrip" /> @Html.DisplayNameFor(model => model.WithReturnTrip)
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="CreatedOn" class="control-label"></label>
                            <input asp-for="CreatedOn" class="form-control" />
                            <span asp-validation-for="CreatedOn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ModifiedOn" class="control-label"></label>
                            <input asp-for="ModifiedOn" class="form-control" />
                            <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="DeletedOn" class="control-label"></label>
                            <input asp-for="DeletedOn" class="form-control" />
                            <span asp-validation-for="DeletedOn" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <br />
        </div>
    </div>
</div>

@section Scripts{
    <link href="~/css/style.css" rel="stylesheet" />
}

